*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: black;
}
header nav{
    width: 1140px;
    padding: 10px 0;
    margin: auto;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
